.row {
    margin-left: 15px;
}

.row__title {
    padding-top: 15px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 15px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.poster {
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    margin-right: 10px;
    transition: transform 400ms;
    border-radius: 5px;
}

.poster:hover {
    transform: scale(1.1);
}

.posterLarge {
    max-height: 345px;
}

.posterLarge:hover {
    transform: scale(1.1);
}