.navbar {
    height: 65px;
    width: 100%;
    background-color: #121212;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    cursor: pointer;
}

.navbar__logo {
    width: 60px;
    object-fit: contain;
    margin-left: 20px;
    padding: 5px;
}

.navbar__search {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar__search > input {
    color: #000;
    width: 250px;
    height: 30px;
}

.navbar__searchIcon {
    margin-left: 15px;
} 

.navbar__avatar {
    margin-right: 20px;
}

.navbar__userInfo {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar__userName {
   margin-top: 5px;
   margin-right: 25px;
}
